<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @evaluation.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @evaluation.comment %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation), :id => "links" %> |
<%= link_to 'Back' , "/students/#{@evaluation.authorId+1}", :id => "links" %>
