<p id="notice"><%= notice %></p>

<h1>Students</h1>

<% @groups.each do |group| %>
  <h3> <%=group.name%></h3>
 
    <% @students.select{|student| student.group_id == group.id}.each do |student| %>
        <%= student.fname %>
        <%= student.lname %>.<%= student.dotNum %>
        <%= link_to 'Edit', edit_student_path(student) %>
        <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
        <%@evaluations.filter{|eval| eval.studentId == student.studentId}.each do |eval|%>
        <%=eval.score%> <%=eval.comment%>
        <br>
        <%end%>
        <br>
    <% end %>
  
  
<%end%>


<br>

<%if @groups.length > 0%>
  <%= link_to 'New Student', new_student_path %>
<%else%>
  <h2> First, create at least one team. </h2>
<%end%>
<%= link_to 'New Group', new_group_path %>
