<p id="notice"><%= notice %></p>

<p>
  <strong><i>First Name:</i></strong>
  <%= @student.fname %>
</p>

<p>
  <strong><i>Last Name:</i></strong>
  <%= @student.lname %>
</p>

<p>
  <strong><i>Dot Number:</i></strong>
  <%= @student.dotNum %>
</p>

<p>
  <strong><i>Group Name:</i></strong>
  <%= @student.group.name %>
</p>

<h4>Instructions</h4>
<p>For each project, click on "Evaluate" beside each of your teammates to evaluate their performance.</p>

<p>
	<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Dot Number</th>
      <th>Group Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.select{|s| s.group.name == @student.group.name && s.studentId != @student.studentId}.each do |student|%>
      <tr>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
        <td><%= student.dotNum %></td>
        <td><%= student.group.name %></td>
        <td><%= link_to 'Evaluate', new_evaluation_path(authorId:@student.studentId, studentId:student.studentId) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</p>


