<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>Dotnum:</strong>
  <%= @student.dotNum %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @student.group.name %>
</p>

<p>
	<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Dotnum</th>
      <th>Group</th>
      <th>StudentID</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.select{|s| s.group.name == @student.group.name}.each do |student|%>
      <tr>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
        <td><%= student.dotNum %></td>
        <td><%= student.group.name %></td>
        <td><%= student.studentId%></td>
        <td><%= link_to 'Evaluate', new_evaluation_path(authorId:@student.studentId, studentId:student.studentId) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
