<!DOCTYPE html>
<html>
  <head>
    <title>Freight Train Peer Evaluation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1 class="header">Freight Train Peer Evaluation tool!</h1>
    </div>
    <%= yield %>
  </body>
</html>
