<!DOCTYPE html>
<html>
  <head>
    <title>Freight Train Peer Evaluation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1 class="header">Freight Train Peer Evaluation Tool!</h1>
    </div>
    <%= yield %>
  </body>
  <footer>
    <br><br><br>
    <p>Brought to you by the Freight Train development team. Click <%= link_to 'Here', "/home_page/index", :id =>"links" =%> to return home.</p>
</html>
